<link rel="stylesheet" href="/styles/admin/products.css">

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <div class="container-fluid m-3">
                <h3 id="head" class="mx-auto">WATCH <span style="color: #ffac33;">LY</span></h3>
            </div>
            <nav class="nav flex-column mt-5">
                <a href="#" class="btn mbtn btn-outline-warning mb-2">DASHBOARD</a>
                <a href="/users" class="btn mbtn btn-outline-warning mb-2 ">USERS</a>
                <a href="/products" class="btn mbtn btn-outline-warning mb-2 active">PRODUCTS</a>
                <a href="/category" class="btn mbtn btn-outline-warning mb-2 ">CATEGORIES</a>
                <a href="/orders" class="btn mbtn btn-outline-warning mb-2">ORDERS</a>
                <a href="/inventory" class="btn mbtn btn-outline-warning mb-2">INVENTORY</a>
                <a href="#" class="btn mbtn btn-outline-warning mb-2">COUPONS</a>
                <a href="#" class="btn mbtn btn-outline-warning mb-2">OFFERS</a>
                <a href="#" class="btn mbtn btn-outline-warning mb-2">SALES</a>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="col-md-10">
            <!-- Header -->
            <div class="row dashboard-header mt-5">
                <div class="col-md-12">
                    <h1 class="text-center">ADMIN DASHBOARD</h1>
                </div>
            </div>

            <!-- Search and Dropdown -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="searchUser" placeholder="Search for users...">
                </div>
                <div class="col-md-4">
                    <select class="form-select">
                        <option>Filter by</option>
                        <option value="1">Date Registered</option>
                        <option value="2">Name</option>
                        <option value="3">Email</option>
                    </select>
                </div>
            </div>

            <!-- Table -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success m-2" data-bs-toggle="modal"
                        data-bs-target="#addProductModal">Add</button>
                    <div class="table-wrapper">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>ProductName</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th colspan="2" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="productTable">
                                {{#each products}}
                                <tr>
                                    <td>{{_id}}</td>
                                    <td>
                                        <!-- Display the first image from the array of images -->
                                        <img src="/uploads/{{images.[0]}}" alt="Product Image" width="50" height="50">
                                    </td>
                                    <td>{{productName}}</td>
                                    <td>{{productStock}}</td>
                                    <td>₹{{productPrice}}</td>
                                    <td>{{#if isDeleted}}Deleted{{else}}Active{{/if}}</td>

                                    <td class="align-middle text-center">

                                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#editProductModal" onclick='showEditProduct(
                                                "{{productName}}", 
                                                "{{productStock}}", 
                                                "{{productPrice}}", 
                                                "{{description}}", 
                                                "{{_id}}", 
                                                "{{category.[0]._id}}", 
                                                {
                                                    "brand": "{{highlights.brand}}",
                                                    "model": "{{highlights.model}}",
                                                    "caseMaterial": "{{highlights.caseMaterial}}",
                                                    "dialColor": "{{highlights.dialColor}}",
                                                    "waterResistance": "{{highlights.waterResistance}}",
                                                    "movementType": "{{highlights.movementType}}",
                                                    "bandMaterial": "{{highlights.bandMaterial}}",
                                                    "features": [{{#each highlights.features}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],
                                                    "warranty": "{{highlights.warranty}}"
                                                },
                                                [{{#each images}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]
                                            )'>
                                            Edit
                                        </button>



                                    </td>
                                    <td class="align-middle text-center">

                                        {{#if isDeleted}}
                                        <form action="/activeProduct" method="post"
                                            onsubmit="return confirm('Are you sure you want to active this product?')">
                                            <input type="hidden" name="id" value="{{_id}}">
                                            <button type="submit" class="btn btn-danger btn-sm">Active</button>
                                        </form>
                                        {{else}}
                                        <form action="/deleteProduct" method="post"
                                            onsubmit="return confirm('Are you sure you want to delete this product?')">
                                            <input type="hidden" name="id" value="{{_id}}">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                        {{/if}}

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            {{!-- Add Product --}}

            <div class="modal fade" id="addProductModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="addProductError" class="alert alert-danger" role="alert" style="display: none;">
                            </div>

                        </div>
                        <form action="/addProduct" method="post" id="form1" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="productName"
                                        placeholder="Product Name" required>
                                </div>

                                <div class="mb-3">
                                    <input type="number" class="form-control" name="productStock" placeholder="Stock"
                                        required>
                                </div>

                                <div class="mb-3">
                                    <input type="number" class="form-control" name="productPrice" placeholder="Price"
                                        required>
                                </div>

                                <div class="mb-3">
                                    <textarea class="form-control" name="description" placeholder="Description"
                                        id="exampleFormControlTextarea1" rows="3" required></textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="categories">Categories</label>
                                    <select class="form-control" id="categories" name="category" required>
                                        <option value="" disabled selected>Select Category</option>
                                        {{#each categories}}
                                        <option value="{{_id}}">{{brandName}} - {{displayType}} - {{bandColor}}
                                        </option>
                                        {{/each}}
                                    </select>
                                </div>

                                <h6>Product Highlights</h6>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[brand]" placeholder="Brand"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[model]" placeholder="Model"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[caseMaterial]"
                                        placeholder="Case Material" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[dialColor]"
                                        placeholder="Dial Color" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[waterResistance]"
                                        placeholder="Water Resistance (e.g., 50 meters)" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[movementType]"
                                        placeholder="Movement Type (e.g., Automatic)" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[bandMaterial]"
                                        placeholder="Band Material" required>
                                </div>
                                <div class="mb-3">
                                    <label for="features">Features</label>
                                    <input type="text" class="form-control" name="highlights[features]"
                                        placeholder="Enter features (comma separated)">
                                    <div class="form-text">Example: Chronograph, Date Display, Tachymeter</div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="highlights[warranty]"
                                        placeholder="Warranty (e.g., 2 years)" required>
                                </div>

                                <h6>Images</h6>
                                <div class="mb-3">
                                    <input type="file" class="form-control" id="imageInput" accept="image/*" multiple
                                        required>
                                </div>

                                <div id="imagePreviewContainer" class="row g-2 mb-3"></div>
                                <!-- Preview container for images -->

                                <div class="text-center">
                                    <button type="button" id="addProduct" class="btn btn-success">Add
                                        Product</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>





        {{!-- Edit Product --}}
        <div class="modal fade" id="editProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="editProductLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editProductLabel">Edit Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/editProduct" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="productId">

                            <!-- Product Details -->
                            <div class="mb-3">
                                <input type="text" class="form-control" name="productName" id="productName"
                                    placeholder="Product Name" required>
                            </div>

                            <div class="mb-3">
                                <input type="number" class="form-control" name="productStock" id="productStock"
                                    placeholder="Stock" required>
                            </div>

                            <div class="mb-3">
                                <input type="number" class="form-control" name="productPrice" id="productPrice"
                                    placeholder="Price" required>
                            </div>

                            <div class="mb-3">
                                <textarea class="form-control" name="description" id="productDescription"
                                    placeholder="Description" rows="3" required></textarea>
                            </div>

                            <div class="form-group mb-3">
                                <label for="categories">Categories</label>
                                <select class="form-control" id="productCategories" name="category" required>
                                    <option value="" disabled>Select Category</option>
                                    {{#each categories}}
                                    <option value="{{_id}}" {{#if (isSelected _id
                                        ../productCategoryId)}}selected{{/if}}>
                                        {{brandName}} - {{displayType}} - {{bandColor}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>

                            <!-- Highlights Section -->
                            <h6>Product Highlights</h6>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[brand]" id="highlightBrand"
                                    placeholder="Brand" required>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[model]" id="highlightModel"
                                    placeholder="Model" required>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[caseMaterial]"
                                    id="highlightCaseMaterial" placeholder="Case Material" required>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[dialColor]"
                                    id="highlightDialColor" placeholder="Dial Color" required>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[waterResistance]"
                                    id="highlightDaterResistance" placeholder="Water Resistance" required>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[movementType]"
                                    id="highlightMovementType" placeholder="Movement Type" required>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[bandMaterial]"
                                    id="highlightBandMaterial" placeholder="Band Material" required>
                            </div>

                            <div class="mb-3">
                                <label for="features">Features</label>
                                <input type="text" class="form-control" name="highlights[features]"
                                    id="highlightFeatures" placeholder="Enter features (comma separated)">
                                <div class="form-text">Example: Chronograph, Date Display, Tachymeter</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[warranty]"
                                    id="highlightWarranty" placeholder="Warranty" required>
                            </div>

                            <!-- Images Section -->
                            <h6>Images (Max 3)</h6>
                            <div class="product-images">
                                {{#each product.images}}
                                <div class="image-wrapper text-center">
                                    <img src="/uploads/{{this}}" alt="Product Image" class="product-img" />
                                    <label for="replaceImage-{{@index}}" class="form-label">Replace this
                                        image:</label>
                                    <input type="file" name="images" class="form-control text-center">
                                </div>
                                {{/each}}
                            </div>

                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="editImageModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h2>Edit Image</h2>
        <!-- Show the existing image in the modal -->
        <img id="editCurrentImage" src="" alt="Image to Edit" />
        <!-- File input to upload a new image -->
        <input type="file" id="newImageFileInput" />
        <button id="saveImageEditBtn">Save Changes</button>
    </div>
</div>


<script src="/javaScript/admin/products.js"></script>