<link rel="stylesheet" href="/styles/admin/products.css">

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Sidebar -->
        {{>sidebar}}

        <!-- Main Content -->
        <div class="col-md-10">
            <!-- Header -->
            <div class="row dashboard-header mt-5 mb-4">
                <div class="col-md-12">
                    <h1 class="text-center">Product Management</h1>
                </div>
            </div>

            <!-- Search and Dropdown -->
            <div class="row mt-4">

                <div class="col-md-4">
                    <select class="form-select" id="sortSelect">
                        <option value="createdAt-desc" selected>Sort by: Date (Newest)</option>
                        <option value="createdAt-asc">Sort by: Date (Oldest)</option>
                        <option value="productName-asc">Sort by: Name (A-Z)</option>
                        <option value="productName-desc">Sort by: Name (Z-A)</option>
                        <option value="productPrice-asc">Sort by: Price (Low to High)</option>
                        <option value="productPrice-desc">Sort by: Price (High to Low)</option>
                    </select>
                </div>
            </div>

            <!-- Table -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal"
                        data-bs-target="#addProductModal">Add Product</button>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>

                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th colspan="2" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="productTable">
                                {{#each products}}
                                <tr>

                                    <td>
                                        <!-- Display the first image from the array of images -->
                                        <img src="{{images.[0]}}" alt="Product Image" width="50" height="50"
                                            class="rounded-circle">
                                    </td>
                                    <td>{{productName}}</td>
                                    <td>{{productStock}}</td>
                                    <td>₹{{productPrice}}</td>
                                    <td>{{#if isDeleted}}Deleted{{else}}Active{{/if}}</td>
                                    <td class="align-middle text-center">

                                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#editProductModal" onclick='showEditProduct(
                                    "{{productName}}", 
                                    "{{productStock}}", 
                                    "{{productPrice}}", 
                                    "{{description}}", 
                                    "{{_id}}", 
                                    "{{category.[0]._id}}", 
                                    {
                                        "brand": "{{highlights.brand}}",
                                        "model": "{{highlights.model}}",
                                        "caseMaterial": "{{highlights.caseMaterial}}",
                                        "dialColor": "{{highlights.dialColor}}",
                                        "waterResistance": "{{highlights.waterResistance}}",
                                        "movementType": "{{highlights.movementType}}",
                                        "bandMaterial": "{{highlights.bandMaterial}}",
                                        "features": [{{#each highlights.features}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],
                                        "warranty": "{{highlights.warranty}}"
                                    },
                                    [{{#each images}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]
                                )'>
                                            Edit
                                        </button>
                                    </td>
                                    <td class="align-middle text-center">
                                        {{#if isDeleted}}
                                        <form action="/activeProduct?_method=PATCH" method="post"
                                            onsubmit="return confirm('Are you sure you want to activate this product?')">
                                            <input type="hidden" name="id" value="{{_id}}">
                                            <button type="submit" class="btn btn-success btn-sm">Activate</button>
                                        </form>
                                        {{else}}
                                        <form action="/deleteProduct?_method=PATCH" method="post"
                                            onsubmit="return confirm('Are you sure you want to delete this product?')">
                                            <input type="hidden" name="id" value="{{_id}}">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{#if (gt totalProducts 5)}}
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center pages custom-pagination">
                    {{#if (gt currentPage 1)}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{sub currentPage 1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#each (range 1 totalPages)}}
                    <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                        <a class="page-link" href="?page={{this}}">{{this}}</a>
                    </li>
                    {{/each}}

                    {{#if (lt currentPage totalPages)}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{add currentPage 1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
            {{/if}}
        </div>


        {{!-- Add Product --}}

        <div class="modal fade" id="addProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/addProduct" method="post" id="form1" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="productName" placeholder="Product Name">
                                <div class="invalid-feedback d-block"></div>
                            </div>

                            <div class="mb-3">
                                <input type="number" class="form-control" name="productStock" placeholder="Stock">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>

                            <div class="mb-3">
                                <input type="number" class="form-control" name="productPrice" placeholder="Price">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>

                            <div class="mb-3">
                                <textarea class="form-control" name="description" placeholder="Description"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="categories">Categories</label>
                                <select class="form-control" id="categories" name="category">
                                    <option value="" disabled selected>Select Category</option>
                                    {{#each categories}}
                                    <option value="{{_id}}">{{brandName}} - {{displayType}} - {{bandColor}}
                                    </option>
                                    {{/each}}
                                </select>
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>

                            <h6>Product Highlights</h6>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[brand]" placeholder="Brand">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[model]" placeholder="Model">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[caseMaterial]"
                                    placeholder="Case Material">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[dialColor]"
                                    placeholder="Dial Color">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[waterResistance]"
                                    placeholder="Water Resistance (e.g., 50 meters)">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[movementType]"
                                    placeholder="Movement Type (e.g., Automatic)">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[bandMaterial]"
                                    placeholder="Band Material">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <label for="features">Features</label>
                                <input type="text" class="form-control" name="highlights[features]"
                                    placeholder="Enter features (comma separated)">
                                <div class="form-text">Example: Chronograph, Date Display, Tachymeter</div>
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[warranty]"
                                    placeholder="Warranty (e.g., 2 years)">
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>

                            <h6>Images</h6>
                            <div class="mb-3">
                                <input type="file" class="form-control" id="imageInput" accept="image/*" multiple>
                                <div class="invalid-feedback d-block" id="productNameError"></div>
                            </div>

                            <div id="imagePreviewContainer" class="row g-2 mb-3"></div>
                            <!-- Preview container for images -->

                            <div class="text-center">
                                <button type="button" id="addProduct" class="btn btn-success">Add
                                    Product</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>






        <!-- Edit Product Modal -->
        <div class="modal fade" id="editProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="editProductLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editProductLabel">Edit Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/editProduct?_method=PUT" id="editForm" method="post"
                            enctype="multipart/form-data">
                            <input type="hidden" name="id" id="productId">

                            <!-- Product Details -->
                            <div class="mb-3">
                                <input type="text" class="form-control" name="productName" id="productName"
                                    placeholder="Product Name">
                                <div class="invalid-feedback" id="nameError">Please enter a product name.</div>
                            </div>

                            <div class="mb-3">
                                <input type="number" class="form-control" name="productStock" id="productStock"
                                    placeholder="Stock" min="0">
                                <div class="invalid-feedback" id="stockError">Please enter a valid stock number.</div>
                            </div>

                            <div class="mb-3">
                                <input type="number" class="form-control" name="productPrice" id="productPrice"
                                    placeholder="Price" min="0">
                                <div class="invalid-feedback" id="priceError">Please enter a valid price.</div>
                            </div>

                            <div class="mb-3">
                                <textarea class="form-control" name="description" id="productDescription"
                                    placeholder="Description" rows="3"></textarea>
                                <div class="invalid-feedback" id="descriptionError">Please enter a product description.
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="productCategories">Categories</label>
                                <select class="form-control" id="productCategories" name="categories">
                                    <option value="" disabled selected>Select Category</option>
                                    {{#each categories}}
                                    <option value="{{_id}}" {{#if (isSelected _id
                                        ../productCategoryId)}}selected{{/if}}>
                                        {{brandName}} - {{displayType}} - {{bandColor}}
                                    </option>
                                    {{/each}}
                                </select>
                                <div class="invalid-feedback" id="categoryError">Please select a category.</div>
                            </div>

                            <!-- Highlights Section -->
                            <h6>Product Highlights</h6>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[brand]" id="highlightBrand"
                                    placeholder="Brand">
                                <div class="invalid-feedback" id="highlightBrandError">Please enter a brand.</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[model]" id="highlightModel"
                                    placeholder="Model">
                                <div class="invalid-feedback" id="highlightModelError">Please enter a model.</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[caseMaterial]"
                                    id="highlightCaseMaterial" placeholder="Case Material">
                                <div class="invalid-feedback" id="highlightCaseMaterialError">Please enter the case
                                    material.</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[dialColor]"
                                    id="highlightDialColor" placeholder="Dial Color">
                                <div class="invalid-feedback" id="highlightDialColorError">Please enter the dial color.
                                </div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[waterResistance]"
                                    id="highlightWaterResistance" placeholder="Water Resistance">
                                <div class="invalid-feedback" id="highlightWaterResistanceError">Please enter the water
                                    resistance.</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[movementType]"
                                    id="highlightMovementType" placeholder="Movement Type">
                                <div class="invalid-feedback" id="highlightMovementTypeError">Please enter the movement
                                    type.</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[bandMaterial]"
                                    id="highlightBandMaterial" placeholder="Band Material">
                                <div class="invalid-feedback" id="highlightBandMaterialError">Please enter the band
                                    material.</div>
                            </div>

                            <div class="mb-3">
                                <label for="highlightFeatures">Features</label>
                                <input type="text" class="form-control" name="highlights[features]"
                                    id="highlightFeatures" placeholder="Enter features (comma separated)">
                                <div class="form-text">Example: Chronograph, Date Display, Tachymeter</div>
                                <div class="invalid-feedback" id="highlightFeaturesError">Please enter features.</div>
                            </div>

                            <div class="mb-3">
                                <input type="text" class="form-control" name="highlights[warranty]"
                                    id="highlightWarranty" placeholder="Warranty">
                                <div class="invalid-feedback" id="highlightWarrantyError">Please enter the warranty.
                                </div>
                            </div>

                            <!-- Images Section -->
                            <h6>Images (Max 3)</h6>
                            <div class="row card">
                                <div class="product-images"></div>
                                <div id="cropper-container" style="display: none;">
                                    <h5>Crop Image</h5>
                                    <img id="imageToCrop" style="max-width: 100%; display: none;" />
                                    <button id="cropImage" class="btn btn-success">Crop Image</button>
                                </div>
                                <div class="invalid-feedback d-block"></div>
                            </div>

                            <div class="text-center mt-3">
                                <button type="submit" id="editProduct" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="toast align-items-center text-white bg-danger border-0" id="errorToast" role="alert" aria-live="assertive"
    aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1100; min-width: 250px;">
    <div class="d-flex">
        <div class="toast-body" id="toastBody">

        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>

<script src="/javaScript/admin/products.js"></script>