<link rel="stylesheet" href="/styles/user/address.css">

{{>header}}

<div class="container mt-3">
    <div class="row mt-5 ">
        <!-- Sidebar -->
        
        {{>profileSidebar}}

        <div class="col-md-10 mt-4  mb-5 pb-4  pe-5 ps-5">
            {{>topNav}}

            <div class="container mt-5">
                <div class="row details">
                    <div class="col-12 mb-3">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#addUser">Add Address</button>
                    </div>
                    <div class="col-12 text-center mb-3">
                        <h5>Addresses:</h5>
                        <p>Please select one address to set your address</p>
                    </div>
                    {{#each addresses }}
                    <div class="col-sm-12 col-md-4 mb-3">
                        <div class="card shadow text-left p-3 {{#if isDefault}} active{{/if}}"
                            onclick="selectCard(this,'{{_id}}')">
                            <span><strong>First Name:</strong> {{firstName}}</span>
                            <span><strong>Last Name:</strong> {{lastName}}</span>
                            <span><strong>Email:</strong> {{email}}</span>
                            <span><strong>Mobile Number:</strong> {{mobile}}</span>
                            <span><strong>Address:</strong> {{addressLine}}</span>
                            <span><strong>City:</strong> {{city}}</span>
                            <span><strong>PinCode:</strong> {{pinCode}}</span>
                            <span><strong>Country:</strong> {{country}}</span>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-outline-warning w-50 me-1" data-bs-toggle="modal"
                                    data-bs-target="#editAddress"
                                    onclick="populateEditModal('{{this.id}}', '{{firstName}}', '{{lastName}}', '{{email}}', '{{mobile}}', '{{addressLine}}', '{{city}}', '{{pinCode}}', '{{country}}')">Edit</button>
                                <button type="button" class="btn btn-outline-danger w-50 ms-1" data-bs-toggle="modal"
                                    data-bs-target="#deleteAddress"
                                    onclick="setDeleteAddress('{{this.id}}')">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{!-- Delete modal --}}
            <div class="modal fade" id="deleteAddress" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Conform</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this Address?

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form id="deleteAddressForm" action="" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- add modal --}}
            <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class=" row mt-2">
                                <div class="col-md-12 me-2 ">
                                    <form action="/addAddress" id="addForm" method="post">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">First Name:</label>
                                                <input type="text" name="firstName" class="form-control"
                                                    placeholder="Please enter your First name">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Last name:</label>
                                                <input type="text" name="lastName" class="form-control"
                                                    placeholder="Please enter your Last name">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Email Address:</label>
                                                <input type="email" name="email" class="form-control"
                                                    placeholder="Please enter your Email Address">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Mobail Number:</label>
                                                <input type="tel" name="mobile" class="form-control"
                                                    placeholder="Please enter your Mobail Number">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Address:</label>
                                                <input type="text" name="addressLine" class="form-control"
                                                    placeholder="Please enter your Address">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Town/City:</label>
                                                <input type="text" name="city" class="form-control"
                                                    placeholder="Please enter your City Name">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Pin Code:</label>
                                                <input type="text" name="pinCode" class="form-control"
                                                    placeholder="Please enter your Pin Code">
                                                    <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label for="dropdown" class="form-label">Country</label>
                                                <select class="form-select" name="country" id="dropdown"
                                                    aria-label="Select option">
                                                    <option disabled selected>Select the Country</option>
                                                    <option value="India">India</option>
                                                    <option value="USA">USA</option>
                                                    <option value="UAE">UAE</option>
                                                </select>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <button type="submit" class="btn btn-outline-warning mt-5 w-75 ">Save
                                                Address</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- edit modal --}}
            <div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class=" row mt-2">
                                <div class="col-md-12 me-2 ">
                                    <form action="/editAddress?_method=PUT" id="editForm" method="post">

                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">First Name:</label>
                                                <input type="text" name="firstName" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Last name:</label>
                                                <input type="text" name="lastName" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Email Address:</label>
                                                <input type="email" name="email" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Mobail Number:</label>
                                                <input type="tel" name="mobile" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Address:</label>
                                                <input type="text" name="addressLine" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Town/City:</label>
                                                <input type="text" name="city" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Pin Code:</label>
                                                <input type="text" name="pinCode" class="form-control">
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label for="dropdown" class="form-label">Country</label>
                                                <select class="form-select" name="country" id="dropdown"
                                                    aria-label="Select option">
                                                    <option disabled selected></option>
                                                    <option value="India">India</option>
                                                    <option value="USA">USA</option>
                                                    <option value="UAE">UAE</option>
                                                </select>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <button type="submit" class="btn btn-outline-warning mt-5 w-75 ">Edit
                                                Address</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->
{{>footer}}

<script src="/javaScript/user/address.js"></script>