<link rel="stylesheet" href="/styles/user/checkout.css">


{{>header}}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h5 class="mb-2 mt-4">Shipping & Place Oreder</h5>
            <hr>
            <div class="container">
                <h5 class="mb-2 mt-2">Select Address</h5>
                {{#if userAddresses}}
                <div class="address-list">
                    {{#each userAddresses}}
                    <div class="address-card" data-address-id="{{this._id}}" data-phone="{{this.mobile}}"
                        onclick="selectCard(this)">
                        <span class="firstName"><strong>First Name:</strong> {{this.firstName}}</span>
                        <span class="lastName"><strong>Last Name:</strong> {{this.lastName}}</span>
                        <span class="email"><strong>Email:</strong> {{this.email}}</span>
                        <span class="mobile"><strong>Mobile Number:</strong> {{this.mobile}}</span>
                        <span class="addressLine"><strong>Address:</strong> {{this.addressLine}}</span>
                        <span class="city"><strong>City:</strong> {{this.city}}</span>
                        <span class="pinCode"><strong>PinCode:</strong> {{this.pinCode}}</span>
                        <span class="country"><strong>Country:</strong> {{this.country}}</span>
                        <div class="d-flex justify-content-between mt-2">
                            <button type="button" class="btn btn-outline-warning w-50 me-1" data-bs-toggle="modal"
                                data-bs-target="#editAddress"
                                onclick="populateEditModal('{{this.id}}', '{{firstName}}', '{{lastName}}', '{{email}}', '{{mobile}}', '{{addressLine}}', '{{city}}', '{{pinCode}}', '{{country}}')">Edit</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <p class="text-center fs-4">you have no Address Please create one </p>
                {{/if}}
            </div>

            {{!-- Edit modal for Address --}}
            <div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class=" row mt-2">
                                <div class="col-md-12 me-2 ">
                                    <form id="editAddressForm" action="/editAddress?_method=PUT" method="POST">
                                        <input type="hidden" name="source" value="checkout">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">First Name:</label>
                                                <input type="text" id="firstName" name="firstName" class="form-control"
                                                    required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Last Name:</label>
                                                <input type="text" id="lastName" name="lastName" class="form-control"
                                                    required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Email Address:</label>
                                                <input type="email" id="email" name="email" class="form-control"
                                                    required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Mobile Number:</label>
                                                <input type="text" id="mobile" name="mobile" class="form-control"
                                                    required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Address:</label>
                                                <input type="text" id="addressLine" name="addressLine"
                                                    class="form-control" required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">Town/City:</label>
                                                <input type="text" id="city" name="city" class="form-control" required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">Pin Code:</label>
                                                <input type="text" id="pinCode" name="pinCode" class="form-control"
                                                    required>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                            <div class="col">
                                                <label for="dropdown" class="form-label">Country</label>
                                                <select class="form-select" id="country" name="country" required>
                                                    <option value="" disabled selected>Select Country</option>
                                                    <option value="India">India</option>
                                                    <option value="USA">USA</option>
                                                    <option value="UAE">UAE</option>
                                                </select>
                                                <small class="error-message text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <button class="btn btn-outline-warning mt-5 w-75">Edit Address</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Add Address Modal --}}
            <div class=" row mt-5">
                <div class="col-md-12 me-2 ">
                    <form action="/addAddress" method="post">
                        <input type="hidden" name="source" value="checkout">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">First Name:</label>
                                <input type="text" name="firstName" class="form-control"
                                    placeholder="Please enter your First name">
                                <small class="error-message text-danger"></small>
                            </div>
                            <div class="col">
                                <label class="form-label">Last name:</label>
                                <input type="text" name="lastName" class="form-control"
                                    placeholder="Please enter your Last name">
                                <small class="error-message text-danger"></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Email Address:</label>
                                <input type="text" name="email" class="form-control"
                                    placeholder="Please enter your Email Address">
                                <small class="error-message text-danger"></small>
                            </div>
                            <div class="col">
                                <label class="form-label">Mobail Number:</label>
                                <input type="text" name="mobile" class="form-control"
                                    placeholder="Please enter your Mobail Number">
                                <small class="error-message text-danger"></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Address:</label>
                                <input type="text" name="addressLine" class="form-control"
                                    placeholder="Please enter your Address">
                                <small class="error-message text-danger"></small>
                            </div>
                            <div class="col">
                                <label class="form-label">Town/City:</label>
                                <input type="text" name="city" class="form-control"
                                    placeholder="Please enter your City Name">
                                <small class="error-message text-danger"></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Pin Code:</label>
                                <input type="text" name="pinCode" class="form-control"
                                    placeholder="Please enter your Pin Code">
                                <small class="error-message text-danger"></small>
                            </div>
                            <div class="col">
                                <label for="dropdown" class="form-label">Country</label>
                                <select class="form-select" name="country" id="dropdown" aria-label="Select option">
                                    <option disabled selected>Select the Country</option>
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="UAE">UAE</option>
                                </select>
                                <small class="error-message text-danger"></small>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-warning mt-5 w-75 mb-5 ">Save Address</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-4 mt-4">
            <div class="card p-3 shadow p-3 mb-5 ms-3 me-3">
                <div class="card-body">
                    <h5 class="card-title">Your Order</h5>

                    <hr>

                    <div class="d-flex justify-content-between flex-wrap mt-4">
                        <div class="col-md-9">
                            <h6 class=""><strong>Products</strong></h6>
                            {{#each cartItems}}
                            <p class="text-body-secondary my-4"><small>{{this.product.productName}}
                                    ({{this.quantity}})</small></p>
                            {{/each}}
                        </div>
                        <div class="text-end col-md-3">
                            <h6><strong>Total</strong></h6>
                            {{#each cartItems}}
                            <h6 class="my-3 py-2"><small
                                    id="product-price-{{this.product._id}}">₹{{toFixed this.itemTotal 2}}</small></h6>
                            {{/each}}
                            <br>
                        </div>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between flex-wrap mt-4">
                        <div>
                            <h6 class="mt-3 mb-2 text-body-secondary"><strong>Subtotal</strong></h6>
                            <h6 class="mb-2 text-body-secondary"><strong>Shipping</strong></h6>
                            <h6 class="mb-2 text-body-secondary">Delivery Charge</h6>
                            <!-- Coupon discount section -->
                            {{#if appliedCouponCode}}
                            <h6 class="mb-2 text-body-secondary"><strong>Coupon Applied</strong></h6>
                            <h6 class="mb-2 text-body-secondary"><strong>Discount</strong></h6>
                            {{/if}}
                            <!-- Referral discount section -->
                            {{#if appliedReferralCode}}
                            <h6 class="mb-2 text-body-secondary"><strong>Referral Discount Applied</strong></h6>
                            <h6 class="mb-2 text-body-secondary"><strong>Referral Discount</strong></h6>
                            {{/if}}
                        </div>
                        <div class="text-end">
                            <h6 class="mt-3 mb-2"><strong>₹{{toFixed subTotal 2}}</strong></h6>
                            <h6 class="mb-2"><strong>₹{{shippingCharge}}</strong></h6>
                            <h6 class="mb-2" id="delivery-charge">₹{{deliveryCharge}}</h6>
                            <!-- Display coupon discount if applied -->
                            {{#if appliedCouponCode}}
                            <h6 class="mb-2"><strong>{{appliedCouponCode}}</strong></h6>
                            <h6 class="mb-2"><strong>- ₹{{couponDiscountAmount}}</strong></h6>
                            {{/if}}
                            <!-- Display referral discount if applied -->
                            {{#if appliedReferralCode}}
                            <h6 class="mb-2"><strong>{{appliedReferralCode}}</strong></h6>
                            <h6 class="mb-2"><strong>- ₹{{toFixed referralDiscountAmount 2}}</strong></h6>
                            {{/if}}
                        </div>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0"><strong>Order Total</strong></p>
                        <p class="mb-0"><strong>₹{{toFixed grandTotal 2}}</strong></p>
                    </div>

                    <hr>

                    <div class="form-check mt-2 mb-2">
                        <input class="form-check-input custom-radio" type="radio" name="paymentOption" value="COD"
                            id="cashOnDelivery">
                        <label class="form-check-label" for="cashOnDelivery">Cash on delivery</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input custom-radio" type="radio" name="paymentOption" value="Razorpay"
                            id="razorpay" checked>
                        <label class="form-check-label" for="razorpay">Razorpay</label>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input custom-radio" type="radio" name="paymentOption" value="Wallet"
                            id="wallet">
                        <label class="form-check-label" for="wallet">Wallet</label>
                    </div>

                    <hr>
                    <form action="/placeOrder" id="checkoutForm" method="post">
                        <input type="hidden" name="totalAmount" id="totalAmount" value="{{grandTotal}}">
                        <input type="hidden" id="selectedAddress" name="shippingAddressId" value="">
                        {{#each cartItems}}
                        <input type="hidden" name="products[{{@index}}][productId]" value="{{this.product._id}}">
                        <input type="hidden" name="products[{{@index}}][quantity]" value="{{this.quantity}}">
                        <input type="hidden" name="products[{{@index}}][price]" value="{{this.itemTotal}}">
                        {{/each}}
                        {{#if appliedCouponCode }}
                        <input type="hidden" id="couponCode" name="couponCode" value="{{appliedCouponCode}}">
                        <input type="hidden" id="couponDiscount" name="couponDiscount" value="{{discountAmount}}">
                        {{/if}}
                        {{#each cartItems}}
                        {{#if this.product.discountPrice}}
                        <input type="hidden" name="discount" id="discount" value="{{this.product.discountPrice}}">
                        {{/if}}
                        {{/each}}
                        <input type="hidden" id="razorpayKey" name="razorpayKey" value="{{razorpayKey}}">
                        <input type="hidden" id="userEmail" name="emil" value="{{userEmail}}">
                        <input type="hidden" id="selectedPaymentMethod" name="paymentMethod" value="">
                        <input type="hidden" id="phoneNumber" name="phoneNumber" value="">
                        <div class="d-flex justify-content-center my-4">
                            <button class="btn btn-outline-warning w-75 w-md-50" type="submit">Place Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Footer -->
{{>footer}}

<div class="toast align-items-center text-white bg-danger border-0" id="errorToast" role="alert" aria-live="assertive"
    aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1100; min-width: 250px;">
    <div class="d-flex">
        <div class="toast-body" id="toastBody">

        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>



<script src="/javaScript/user/checkout.js"></script>