<link rel="stylesheet" href="/styles/user/order.css">

{{>header}}

<div class="container mt-5">
    <div class="row">
        <!-- Sidebar -->

        {{>profileSidebar}}

        <!-- Orders Section -->
        <div class="col-md-10">

            {{#each orders}}
            <div class="card mt-3">
                <div class="card-body">
                    {{#each this.products}}
                    <div class="row mb-3 position-relative">
                        <div class="col-md-2">
                            <img src="{{this.productId.images.[0]}}" class="img-fluid rounded"
                                alt="{{this.productId.productName}}">
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="mb-1"><strong>Product Name:</strong> {{this.productId.productName}}</p>
                                    <p class="mb-1"><strong>Payment Method</strong> {{../paymentMethod}}</p>
                                    <p class="mb-1"><strong>Price:</strong> ₹{{this.price}}</p>
                                    <p class="mb-1"><strong>Quantity:</strong> {{this.quantity}}</p>
                                </div>
                                <div class="col-md-5 d-flex align-items-center justify-content-end">
                                    <a href="/orderDetails/{{../_id}}/{{this.productId._id}}"
                                        class="btn btn-warning me-2">View Details</a>

                                    {{#if (and (or (eq this.status 'Pending') (eq this.status 'Confirmed')) (neq ../paymentStatus 'Failed'))}}
                                    <form action="/cancelProduct?_method=PATCH" method="post"
                                        onsubmit="return confirm('Are you sure you want to cancel this product?');">
                                        <input type="hidden" name="orderId" value="{{../_id}}">
                                        <input type="hidden" name="productId" value="{{this.productId._id}}">
                                        <button class="btn btn-danger">Cancel Product</button>
                                    </form>
                                    {{/if}}

                                    {{#if (eq this.status 'Delivered')}}
                                    <form action="/returnProduct?_method=PATCH" method="post"
                                        onsubmit="return confirm('Are you sure you want to return this product?');">
                                        <input type="hidden" name="orderId" value="{{../_id}}">
                                        <input type="hidden" name="productId" value="{{this.productId._id}}">
                                        <button class="btn btn-danger">Return Product</button>
                                    </form>
                                    {{/if}}

                                </div>
                                {{#if (eq this.status 'Cancelled')}}
                                <span class="text-danger text-center bg-light">Cancelled</span>
                                {{/if}}
                                {{#if (eq this.status 'Returned')}}
                                <span class="text-info text-center bg-light">Returned</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    {{#if (eq this.paymentStatus 'Paid')}}
                    <form action="/downloadInvoice/{{this._id}}" method="GET">
                        <button type="submit" class="btn btn-primary text-center">Download Invoice</button>
                    </form>
                    {{/if}}

                    {{#isPendingRazorpay this.paymentStatus this.paymentMethod this}}
                    <button id="retryPaymentButton" class="btn btn-primary" data-order-id="{{this._id}}">Retry
                        Payment</button>
                    {{/isPendingRazorpay}}
                </div>
            </div>
            {{/each}}




            <!-- Pagination Section -->
            <nav aria-label="Order Page Navigation" class="mt-4">
                <ul class="pagination justify-content-center custom-pagination">
                    {{#if (gt currentPage 1)}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{sub currentPage 1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#each (range 1 totalPages)}}
                    <li class="page-item {{#if (eq @this ../currentPage)}}active{{/if}}">
                        <a class="page-link" href="?page={{@this}}">{{@this}}</a>
                    </li>
                    {{/each}}

                    {{#if (lt currentPage totalPages)}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{add currentPage 1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Footer -->
{{>footer}}


<script src="/javaScript/user/order.js"></script>