<link rel="stylesheet" href="/styles/user/orderSuccess.css">

{{>header}}



<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thank you for your order!</h4>
    <p>Your order has been successfully placed with {{#if (eq order.paymentMethod 'COD')}} Cash on Delivery {{else if
      (eq order.paymentMethod 'Razorpay')}} Razorpay {{else}} Wallet {{/if}}.</p>
    <hr>
    <p class="mb-0">Order ID: {{order._id}}</p>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h5>Order Details</h5>
    </div>
    <div class="card-body">
      <p><strong>Order ID:</strong> {{order._id}}</p>
      <p><strong>Total Amount:</strong> ₹{{order.totalAmount}}</p>
      <p><strong>Delivery Address:</strong>
        {{order.shippingAddress.addressLine}},{{order.shippingAddress.city}},{{order.shippingAddress.city}}</p>
      <p><strong>Estimated Delivery:</strong> 3-5 business days</p>

      <hr>
      <h6>Products Ordered:</h6>
      <ul>
        {{#each order.products}}
        <li>
          {{this.productId.productName}} - Quantity: {{this.quantity}} - Price: ₹{{#if
          this.productId.discountPrice}}{{this.productId.discountPrice}}{{else}}{{this.productId.productPrice}}{{/if}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="mt-4">
    <a href="/ProductList" class="btn btn-outline-warning">Continue Shopping</a>
    <a href="/orders" class="btn btn-outline-warning">See Orders</a>
  </div>
</div>

<!-- Footer -->
{{>footer}}